<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/Register.css">

<script>

document.createElement("nav");
document.createElement("header");
document.createElement("footer");
document.createElement("section");

</script>

</head>

<body>

<header class= " banner ">

<h1> GameArena <img src="/../resources/vg.jpg" alt="vg" >  </h1>

</header>


<% include partials/Menu.ejs %>









<h2> <br><br><br><br> Please Enter Your Details </h2>

<form id="Contact Form" method="POST" action="/Registered">

<p> <br><br> <label for="firstName">First name</label>
<input type="text" name="firstName" value="<%= qs.firstName %>"> </p>

<p><label for="lastName">Last Name</label>
<input type="text" name="lastName" value="<%= qs.lastName %>"> </p>

<p><label for="email">Email</label>
<input type="text" name="email" value="<%= qs.email %>"> </p>

<p><label for="address">Address</label>
<input type="text" name="address" value="<%= qs.address %>"> </p>

<p><label for="city">City</label>
<input type="text" name="city" value="<%= qs.city %>"> </p>

<p><label for="state">State</label>
<input type="text" name="state" value="<%= qs.state %>"> </p>

<p><label for="country">Country</label>
<input type="text" name="country" value="<%= qs.country %>"> </p>

<p><label for="pincode">Pincode</label>
<input type="text" name="pincode" value="<%= qs.pincode %>"> </p>

<p><label for="username">Username</label>
<input type="text" name="username" value="<%= qs.username %>"> </p>

<p><label for="password">Password</label>
<input type="text" name="password" value="<%= qs.password %>"> </p>


<p> <br> <input type="submit" name="submit"/> </p>

</form>



<% include partials/Home.ejs %>


<% include partials/footer.ejs %>


</body>

</html>
